{% extends 'employees/base.html' %}


{% block content %}

  <div class="card">
    <div class="card-header">
      <h1 class="card-title">Add Employee</h1>
    </div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Save</button>
        <a href="/Employees"<button type="submit" class="btn btn-primary">Back</button></a>
      </form>
    </div>
  </div>
<style>
    .card {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 600px;
      }
      
      .card-header {
        background-color: #f8f9fa;
        border-bottom: 1px solid #ccc;
        padding: 20px;
      }
      
      .card-title {
        margin: 0;
      }
      
      .card-body {
        padding: 20px;
      }
      
      .btn-primary {
        background-color: #007bff;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
      }
      
      .btn-primary:hover {
        background-color: #0069d9;
      }
      



</style>
{% endblock %}
