{% extends 'employees/base.html' %}


{% block content %}
	<section>
		<div>
			<h2>Welcome to our HR Management System</h2>
			<p>Manage your employees, payroll, and reports all in one place with our easy-to-use platform.</p>
			<button>Get Started</button>
		</div>
	</section>
	<style>
		section p {
			font-size: 18px;
			color: #666;
			text-align: center;
			max-width: 600px;
			margin-top: 20px;
		}

		section button {
			background-color: #2F80ED;
			color: white;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			font-size: 18px;
			margin-top: 30px;
			cursor: pointer;
			transition: all 0.2s;
		}

		section button:hover {
			background-color: #1F65BB;
		}
	</style>
{% endblock %}