{% extends 'employees/base.html' %}

{% block content %}
<br/>
  <div class="card">
    <div class="card-header">
      <h2>HR SignUp</h2>
    </div>
    <br/>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Username:</label>
          {{ form.username }}
          {% if form.username.errors %}
            <span class="text-danger">{{ form.username.errors.as_text }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.email.id_for_label }}">Email:</label>
          {{ form.email }}
          {% if form.email.errors %}
            <span class="text-danger">{{ form.email.errors.as_text }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.password1.id_for_label }}">Password:</label>
          {{ form.password1 }}
          {% if form.password1.errors %}
            <span class="text-danger">{{ form.password1.errors.as_text }}</span>
          {% endif %}
        </div>
        <div class="form-group">
          <label for="{{ form.username.id_for_label }}">Confirm Password:</label>
          {{ form.password2 }}
          <br/>
          {% if form.password2.errors %}
            <span class="text-danger">{{ form.password2.errors.as_text }}</span><br/>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
        <br/>
        <h4>Already Registered? <a href="/login">Click here</a> to Login</h4>
      </form>
    </div>
  </div>
  
  <style>
    a{
        text-decoration:none;
    }
    .card {
      background-color: #fff;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0 auto;
      max-width: 500px;
      padding: 20px;
    }

    .card-header {
      background-color: #f2f2f2;
      border-bottom: 1px solid #ddd;
      padding: 10px;
      text-align: center;
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 5px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
      border: 1px solid #ddd;
      border-radius: 4px;
      font-size: 16px;
      padding: 10px;
      width: 85%;
    }

    button[type="submit"] {
      background-color: #007bff;
      border: none;
      border-radius: 4px;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      padding: 10px;
      width: 100%;
    }

    button[type="submit"]:hover {
      background-color: #0069d9;
    }

    .text-danger {
      color: #dc3545;
      font-size: 14px;
      font-weight: 600;
    }
  </style>
{% endblock %}
