{% extends 'employees/base.html' %}

{% block content %}


<br/>
<h1 style="text-align:center"> Teams List </h1>
<br/>

<table>
    <thead>
        <tr>
            <th>Team Name</th>
            <th>Team leader</th>
           
            <th>Action</th>
            
        </tr>
    </thead>
    <tbody>
{% for team in teams %}
<tr>
    <td><strong>{{ team.name }}</strong></td>
    <td>{{ team.team_leader }}</td>
  
    <td><a href="Teams/{{team.id}}">View Details</a></td>
   
</tr>
    {% endfor %}
</tbody>
</table>
<br/>
<a href="Team_add"><button style="float:left"  class="btn btn-primary1"><strong>Add a New Team</strong></button></a>
<a href="/Organization" ><button  class="btn btn-primary"><strong>Back</strong></button></a>
<style>
    a{
        text-decoration:none;
        color:black;
    }
    body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    }
    .head {
    color: #333;
    text-align: center;
    margin-top: 50px;
    }
    table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    th, td {
    padding: 10px 20px;
    text-align: left;
    }
    th {
        background-color: #2F80ED;
    color: #fff;
    }
    td {
    border-bottom: 1px solid #ddd;
    }
    .btn-primary {
        background-color: #2F80ED;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
       margin-right:420px;
        float:right;
      }
      .btn-primary1 {
        background-color: #2F80ED;
        border: none;
        color: #fff;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        margin-left:418px;
      }
      
      .btn-primary:hover {
        background-color: #0069d9;
      }
</style>






{% endblock %}